.mycoffee{
padding-top:0px;
font-size:90px;
color:#CEC897;
text-align:center;
text-shadow:3px 5px 6px black;
-webkit-text-stroke: 2px black;
margin-top:0px;
}
.body{
min-height:830px;
min-width: 1130px;
}
.header2{
font-size:90px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:left;
left:40%;
top:25%;
}
.headerp{
font-size:70px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:center;
left:40%;
top:25%;
}
.headerp2{
font-size:70px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:center;
position:absolute;
left:1150px;
top:925px;
}
.headerp3{
font-size:70px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:center;
position:absolute;
left:1150px;
top:475px;
}
.headerp4{
font-size:70px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:center;
position:absolute;
left:1135px;
top:275px;
}
.headerb{
font-size:110px;
color:black;
text-align:center;
font-family:helvetica;
left:40%;
position:absolute;
top:25%;
padding-bottom:0px;
}
.paragraph3{
font-size:70px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:center;
position:absolute;
left:225px;
top:250px;
}
.paragraph4{
font-size:70px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:center;
position:absolute;
left:32.5%;
top:205px;
}
.paragraph5{
font-size:70px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:center;
position:absolute;
left:550px;
top:205px;
}
.paragraph6{
font-size:70px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:center;
position:absolute;
left:225px;
top:250px;
}
.paragraph7{
font-size:70px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:center;
position:absolute;
left:590px;
top:205px;
}
.headerb4{
font-size:110px;
color:black;
text-align:center;
font-family:helvetica;
left:695px;
position:absolute;
top:90px;
padding-bottom:0px;
}
.headerb5{
font-size:110px;
color:black;
text-align:center;
font-family:helvetica;
left:685px;
position:absolute;
top:110px;
padding-bottom:0px;
float:center;
}
.headerb6{
font-size:110px;
color:black;
text-align:center;
font-family:helvetica;
left:575px;
position:absolute;
top:75px;
padding-bottom:0px;
}
.headerb7{
font-size:110px;
color:black;
text-align:center;
font-family:helvetica;
left:460px;
position:absolute;
top:75px;
padding-bottom:0px;
}
.headerb1{
font-size:110px;
color:black;
text-align:center;
font-family:helvetica;
left:1225px;
top:75px;
position:absolute;
padding-bottom:0px;
}
.headerb2{
font-size:110px;
color:black;
text-align:center;
font-family:helvetica;
position:absolute;
left:1260px;
top:75px;
padding-bottom:0px;
}
.header3{
font-size:90px;
color:black;
text-shadow:3px 5px 6px black;
font-family:helvetica;
text-align:center;
left:42%;
top:20.5%;
}
.header4{
font-size:70px;
color:black;
text-shadow:3px 5px 6px black;
font-family:helvetica;
text-align:left;
left:51%;
top:25%;
}
.coffee1{
display:inline-block;
float:left;
width:1000px;
height:1000px;
top:100%;
left:2%;
border-radius:25px;
}
.coffee4{
display:inline-block;
float:left;
width:1000px;
height:1000px;
border-radius:25px;
position:absolute;
top:1175px;
left:7.5px;
padding-bottom:10px;
}
.coffee2{
display:inline-block;
float:left;
width:650px;
top:100%;
left:2%;
border-radius:25px;
}
.coffee3{
display:inline-block;
float:left;
width:1000px;
height:775px;
border-radius:25px;
padding-bottom:10px;
}
.Redirect1{
text-align:left;
font-size:25px;
background-color:transparent;
color:black;
position:absolute;
top:120px;
left:710px;
border-width:0px;
}
.Redirect1:hover{
border-bottom-width:2px;
border-color:lightblue;
}
.Redirect2{
text-align:center;
font-size:25px;
background-color:transparent;
color:black;
border-width:0px;
position:absolute;
top:120px;
left:615px;
}
.Redirect2:hover{
border-bottom-width:2px;
border-color:lightblue;
}
.Redirect3{
text-align:right;
font-size:25px;
background-color:transparent;
color:black;
border-width:0px;
position:absolute;
top:120px;
left:975px;
}
.Redirect3:hover{
border-bottom-width:2px;
border-color:lightblue;
}
.Redirect4{
text-align:right;
font-size:25px;
background-color:transparent;
color:black;
border-width:0px;
position:absolute;
top:120px;
left:1100px;
}
.Redirect4:hover{
border-bottom-width:2px;
border-color:lightblue;
}
.purchase{
text-align:center;
font-size:25px;
background-color:black;
color:#8BC34B;
border-radius:10px;
}
.Redirect5{
text-align:center;
font-size:40px;
background-color:transparent;
color:black;
border-width:0px;
}
.Redirect5:hover{
border-width:5px;
border-color:lightblue;
}
.Redirect6{
text-align:center;
font-size:40px;
background-color:transparent;
color:black;
border-width:0px;
}
.Redirect6:hover{
border-width:5px;
border-color:lightblue;
}
.paragraph{
font-size:50px;
color:black;
font-family:helvetica;
text-align:center;
left:0%;
top:27.5%;
}
.money{
color:#8BC34B;
}